version: "3.9"

services:
  node_alone:
    build:
      dockerfile: docker/Dockerfile
      context: .
      target: dev
    volumes:
      - .:/opt/app/api
      - tmp-node1:/opt/app/api/tmp

    ports:
      - "8000:8000"
    command: [ "air", "--", "-name", "node1", "-host", "node1", "-port", "8000", "-debug", "true" ]
    profiles:
      - alone

  node_cluster_1:
    build:
      dockerfile: docker/Dockerfile
      context: .
      target: dev
    volumes:
      - .:/opt/app/api
      - tmp-node2:/opt/app/api/tmp
    ports:
      - "8001:8001"
    command: [ "air", "--", "-initialCluster", "node_cluster_1=http://node_cluster_1:2380,node_cluster_2=http://node_cluster_2:2380,node_cluster_3=http://node_cluster_3:2380",  "-name", "node_cluster_1", "-host", "node_cluster_1", "-port", "8001", "-dataPath", "data1", "-debug", "true" ]
    profiles:
      - cluster

  node_cluster_2:
    build:
      dockerfile: docker/Dockerfile
      context: .
      target: dev
    volumes:
      - .:/opt/app/api
      - tmp-node3:/opt/app/api/tmp

    ports:
      - "8002:8002"
    command: [ "air", "--", "-initialCluster", "node_cluster_1=http://node_cluster_1:2380,node_cluster_2=http://node_cluster_2:2380,node_cluster_3=http://node_cluster_3:2380", "-name", "node_cluster_2", "-host", "node_cluster_2", "-port", "8002", "-dataPath", "data2", "-debug" ]
    profiles:
      - cluster

  node_cluster_3:
    build:
      dockerfile: docker/Dockerfile
      context: .
      target: dev
    volumes:
      - .:/opt/app/api
      - tmp-node4:/opt/app/api/tmp

    ports:
      - "8003:8003"
    command: [ "air", "--", "-initialCluster", "node_cluster_1=http://node_cluster_1:2380,node_cluster_2=http://node_cluster_2:2380,node_cluster_3=http://node_cluster_3:2380", "-name", "node_cluster_3", "-host", "node_cluster_3", "-port", "8003", "-dataPath", "data3", "-debug" ]
    profiles:
      - cluster

  node_cluster_4:
    build:
      dockerfile: docker/Dockerfile
      context: .
      target: dev
    volumes:
      - .:/opt/app/api
      - tmp-node5:/opt/app/api/tmp

    ports:
      - "8004:8004"
    command: [ "air", "--", "-add", "-initialCluster", "node_cluster_1=http://node_cluster_1:2380,node_cluster_2=http://node_cluster_2:2380,node_cluster_3=http://node_cluster_3:2380,node_cluster_4=http://node_cluster_4:2380", "-name", "node_cluster_4", "-host", "node_cluster_4", "-port", "8003", "-dataPath", "data4", "-debug" ]
    profiles:
      - add-node-to-cluster


  load_balancer:
    build:
      dockerfile: docker/load-balancer/Dockerfile
      context: .
    ports:
      - "7000:7000"
      - "6060:6060"

    volumes:
      - ./docker/load-balancer/gobetween.toml:/lb/config/gobetween.toml
    profiles:
      - cluster

volumes:
  tmp-node1:
  tmp-node2:
  tmp-node3:
  tmp-node4:
  tmp-node5:

