name: Performance

on: workflow_dispatch

env:
  DIGITAL_OCEAN_TOKEN: ${{ secrets.DIGITAL_OCEAN_TOKEN }}

jobs:
  load-test:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v3
      - name: Add ssh key
        env:
          SSH_AUTH_SOCK: /tmp/ssh_agent.sock
        run: |
          ssh-agent -a $SSH_AUTH_SOCK > /dev/null
          ssh-add - <<< "${{ secrets.SSH_PRIVATE_KEY }}"
      - name: Create resources
        env:
          SSH_AUTH_SOCK: /tmp/ssh_agent.sock
        run: |
          chmod +x ./cicd/create_resources_for_load_testing.sh
          ./cicd/create_resources_for_load_testing.sh
      - name: Run load test
        env:
          SSH_AUTH_SOCK: /tmp/ssh_agent.sock
        id: locust
        run: |
          chmod +x ./cicd/performance.sh
          ./cicd/performance.sh
          cat /tmp/locust.result >> $GITHUB_STEP_SUMMARY

  cleanup:
    runs-on: ubuntu-latest
    if: always()
    needs: [load-test]
    steps:
      - uses: actions/checkout@v3
      - name: Cleanup
        run: |
          chmod +x ./cicd/clean_resources_for_load_testing.sh
          ./cicd/clean_resources_for_load_testing.sh
