on: workflow_dispatch

jobs:
  load-test:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Create resources
        run: ../cicd/create_resources_for_load_testing.sh
      - name: Run load test
        id: locust
        run: ../cicd/performance.sh

  cleanup:
    runs-on: ubuntu-latest
    if: always()
    needs: [load-test]
    steps:
      - run: ../cicd/clean_resources_for_load_testing.sh
